<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net45" />
  <package id="DreamSeat" version="1.2.0.0" targetFramework="net45" />
  <package id="LoveSeat" version="1.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net45" />
</packages>